.node {
    width: 7px;
    height: 7px;
    border: 0.05px solid rgb(124, 155, 255);
    float: left;
}

div.node:hover {
    background-color: lightblue;
}

.nothing {
    background-color: transparent ;
}

.wall {
    background-color: black ;
}

.startingpoint {
    background-color: greenyellow ;
}

.endpoint {
    background-color: red ;
}

.path {
    background-color: lightseagreen ;
}