html,
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: rgb(26, 26, 26);
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #696969;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #383838;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #383838;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

img.Logo {
  position: absolute;
  margin: 10px;
  width: 2.5vw;
  transform: translate(-50%, 0);
}

/*Menus*/
div.mobileMenu {
  position: absolute;
  margin: 3vw;
  bottom: 0;
  width: 40vw;
  height: 5vh;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgb(40, 40, 40);
  border-radius: 10vw;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  z-index: 1;
}

div.mobileMenu img.MobileAccountImage {
  position: absolute;
  left: 2%;
  color: white;
  font-size: 5vw;
}

div.mobileMenu img {
  position: absolute;
  height: 70%;
  right: 2%;
  top: 15%;
}

div.desktopMenu {
  position: absolute;
  right: 0;
  top: 0vh;
  height: 5vh;
  width: 10vw;
}

img.desktopAccountIcon {
  position: relative;
  margin: 2%;
  width: 25.5%;
  float: right;
  z-index: 1;
}

img.desktopAccountIcon:hover {
  cursor: pointer;
}

img.desktopSettings {
  position: relative;
  margin: 9%;
  width: 12%;
  float: left;
  left: -0.5vw;
  opacity: 0;
  transition: left .3s ease-in-out, opacity .5s ease-in-out;
}

img.desktopSettings:hover {
  cursor: pointer;
}

img.desktopSettings:active {
  background-color: white;
}

div.desktopMenu:hover img.desktopSettings {
  left: 4.5vw;
  opacity: 1;
}

div.floorplan-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

img.img {
  position: absolute;
  top: 40vw;
  width: 500px;
  height: auto;
}

@media (min-width:1025px){

  img.Logo {
    width: 2.5vw;
    height: auto;
  }

  div.mobileMenu {
    display: none;
  }

  div.desktopMenu {
    display: inherit;
  }

}

@media (max-width:1025px){

  img.Logo {
    height: 3.5vh;
    width: auto;
  }

  div.mobileMenu {
    display: inherit;
  }

  div.desktopMenu {
    display: none;
  }

}


/*Panels*/
div.settingsPanel {
  position: absolute;
  width: 94vw;
  margin: 3vw;
  z-index: 5;
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
  color: rgb(192, 192, 192);
  text-align: center;
  bottom: 5%;
  overflow-x: hidden;
  max-height: 80vh;
}

div.accountPanel {
  position: absolute;
  width: 94vw;
  margin: 3vw;
  z-index: 5;
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
  color: rgb(192, 192, 192);
  text-align: center;
  bottom: -110%;
  overflow-x: hidden;
  max-height: 80vh;
}

p.settingsHeader {
  font-size: 6vw;
}

div.divider {
  margin: 5% 10% 5% 10%;
  width: 80%;
  height: 1px;
  background-color: rgb(53, 53, 53);
  border-radius: 45px;
}

div.accountObject {
  margin: 10%;
  width: 90%;
  display: flex;
  text-align: left;
  vertical-align: baseline;
}

img.accountObjectPP {
  width: 13%;
  height: auto;
}

a.accountObjectName {
  position: absolute;
  margin-top: 3%;
  margin-left: 15%;
  font-size: 4vw;
}

img.accountObjectGear {
  position: absolute;
  width: 5%;
  height: auto;
  padding: 3%;
  left: 80%;
}

p.myprofile {
  font-size: 3vw;
}

div.settingObject {
  margin: 10%;
  width: 90%;
  display: flex;
  text-align: left;
  vertical-align: baseline;
}

p.settingName {
  font-size: 4vw;
}

input.checkbox {
  position: absolute;
  margin: 5%;
  width: 4vw;
  height: 4vw;
  right: 7%;
  color: transparent;
}