html,
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: rgb(26, 26, 26);
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #696969;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #383838;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #383838;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

img.Logo {
  position: absolute;
  margin: 10px;
  width: 2.5vw;
  transform: translate(-50%, 0);
  z-index: 10;
}

/*Menus*/
div.Menu {
  position: absolute;
  margin: 3vw;
  bottom: 0;
  width: 40vw;
  height: 5vh;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgb(40, 40, 40);
  border-radius: 10vw;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  z-index: 1;
}

div.Menu img.AccountImage {
  position: absolute;
  left: 2%;
  font-size: 5vw;
}

div.Menu img {
  position: absolute;
  height: 70%;
  right: 2%;
  top: 15%;
}

img.img {
  position: absolute;
  width: 500px;
  height: auto;
  left: 10%;
  top: 25%;
}

@media (min-width:1025px){

  img.Logo {
    width: 2.5vw;
    height: auto;
  }

  div.Menu {
    background-color: transparent;
    position: absolute;
    left: 90vw;
    bottom: 95vh;
    height: 5vh;
    width: 10vw;
    justify-content: normal;
    transform: none;
    margin: 0;
    border-radius: 0;
   }

  div.Menu img.AccountImage {
    position: absolute;
    left: 71%;
    width: 25%;
    height: auto;
  }

  div.Menu img.AccountImage:hover {
    cursor: pointer;
  }

  div.Menu img.SettingsImage {
    position: absolute;
    left: 50%;
    color: white;
    font-size: 5vw;
    width: 10%;
    height: auto;
    margin: 7%;
  }

  div.Menu img.SettingsImage:hover {
    cursor: pointer;
  }

}

@media (max-width:1025px){

  img.Logo {
    height: 3.5vh;
    width: auto;
  }

  div.Menu {
    display: inherit;
  }

}


/*Panels*/
div.settingsPanel {
  position: absolute;
  width: 94vw;
  z-index: 5;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  color: rgb(205, 205, 205);
  text-align: center;
  bottom: 8%;
  left: 3%;
  overflow-x: hidden;
  max-height: 80vh;
  display: none;
}

div.accountPanel {
  position: absolute;
  width: 94vw;
  z-index: 5;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  color: rgb(205, 205, 205);
  text-align: center;
  bottom: 8%;
  left: 3%;
  overflow-x: hidden;
  max-height: 80vh;
  display: none;
}

p.settingsHeader {
  font-size: 6vw;
}

div.divider {
  margin: 5% 10% 5% 10%;
  width: 80%;
  height: 1px;
  background-color: rgb(53, 53, 53);
  border-radius: 45px;
}

div.accountObject {
  margin: 10%;
  width: 90%;
  display: flex;
  text-align: left;
  vertical-align: baseline;
}

img.accountObjectPP {
  width: 13%;
  height: auto;
}

a.accountObjectName {
  position: absolute;
  margin-top: 3%;
  margin-left: 15%;
  font-size: 4vw;
}

img.accountObjectGear {
  position: absolute;
  width: 5%;
  height: auto;
  padding: 3%;
  left: 80%;
}

p.myprofile {
  font-size: 3vw;
}

div.settingObject {
  margin: 4% 10%;
  width: 90%;
  display: flex;
  text-align: left;
  vertical-align: baseline;
}

p.settingName {
  font-size: 4vw;
}

input.ssidInput {
  position: absolute;
  margin: 4%;
  width: 35vw;
  height: 15px;
  right: 7%;
  background-color: rgb(205, 205, 205);
  border: 1px solid rgb(205, 205, 205);
  color: black;
  border-radius: 10px;
  text-align: center;
}

input.checkbox {
  position: absolute;
  margin: 5%;
  width: 4vw;
  height: 4vw;
  right: 7%;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

@media (min-width:1025px){

  div.settingsPanel {
    width: 20vw;
    top: 8%;
    left: 79.5%;
    max-height: 32.5vh;
  }

  p.settingsHeader {
    font-size: 1.5vw;
  }

  p.settingName {
    font-size: 1vw;
    margin: 2.5%;
  }

  input.ssidInput {
    width: 7vw;
  }

  input.checkbox {
    width: 1vw;
    height: 1vw;
    margin: 4%;
  }

  a.accountObjectName {
    position: absolute;
    margin-top: 1.5%;
    margin-left: 15%;
    font-size: 1vw;
  }

}